.navbar-brand
{
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5em;
  font-weight: 600;
}

.header{
  box-shadow: 0px 0.1px 0.1px 0px lightgrey;
}

a:hover, a:focus, a:visited, .btn-link:hover, .btn-link:focus, .btn-link:visited {
  text-decoration: none;
}

.nav-end
{
  box-shadow: 0px 2px 4px 0px rgba(204,204,204,1);
}

.div_25
{
  float:left;
  width:25%;
}

.div_50
{
  float:left;
  width:50%;
}

.div_75
{
  float:left;
  width:75%;
}

.imgFM{
  width: 100%;
  max-width: 300px;
}

.content-page {
  padding-left: 7%;
  padding-right: 7%;
}

.thumb-post img {
  object-fit: cover;
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 300px;
  margin-bottom: 1rem;
}

.formsCo{

  margin: auto;
  margin-top: 10%;
  width: 60%;
  padding: 10px;
  padding-bottom: 30px;
}

.verticalLine {
  border-right: 1px solid lightgrey;
}

.toggler-btn{
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.nav2 .nav-link{
  font-size: 1.1em;
}

.nav2 .nav-link:hover{
  background-color: lightgrey;
}

.centered-div{
  margin: auto;
  width: 60%;
  padding: 10px;
}

#credit_cards img{
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}

.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}

.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  color: white;
}

.creditCardForm label{
  font-weight: bold;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  background-color: #F4F4F4;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.infoBG{
  background-color: lightgrey;
  border-radius: 2px;
}

.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 20px
}

.star-rating input[type=radio] {
  display: none
}

.star-rating label {
  color: #bbb;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #f2b600
}

.list-group-item{
  border: 0px;
}
